@media screen and (max-width: 639px) {
    .container {
        margin-top: 80px;
        height: 200px;
        width: 100%;

        border-radius: 0px;
        background-color: #141414;
    }


}
/*
@media only screen and (device-width: 375px) */